numba
numpy
torch
tqdm
more-itertools
tiktoken
triton>=2.0.0;platform_machine=="x86_64" and sys_platform=="linux" or sys_platform=="linux2"
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
